body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.prompt-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .75rem;
  justify-content: center;
  border: solid darkgray 1px;
  gap: 1rem;
  border-radius: .5rem;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.submit-button {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  height: 48px;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.3s;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.submit-button:hover {
  background-color: #0051cc;
}

.response-display {
  margin-top: 1rem;
  padding: 0.5rem;
}

/* Style the dropdown select options */
.select-dropdown option {
  /* Custom styles */
  background-color: #f7f7f7;
  color: #333;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
}

/* Style the selected option */
.select-dropdown option:checked {
  /* Custom styles for the selected option */
  background-color: #0070f3;
  color: #fff;
}